#navbar {
	background: #999;
}

#brand {
	color: #66ccff;
	font-weight: 700;
}

#nav-list {
	background: #777;
}

#nav-list > li {
	border: 1px solid black;
	padding: 2px auto;
	color: white;
}

h1 {
	font-size: 25px;
}
h2 {
	font-size: 20px;
}

#main-content {
	height: 1000px;
	background: #ddd;
}
